.create-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0 8rem 0 8rem;
    width: 100%;
}

.create-content {
    display: flex;
    flex-direction: column;
    width: 100%;

}

.button-group {
    display: flex;
    justify-content: end;
    gap: 1rem;
}

.button-group button {
    background-color:  #333;
    color: #fff;
    border: none;
    padding: .5rem 1rem .5rem 1rem;
    border-radius: .5rem;
    cursor: pointer;
    font-size: 16px;
}

.button-group button:hover {
    background-color: black;
    color: white;
}